@using ProjectZakynthos.Web.Areas.stamps.Models
@model ShowWishlistViewModel

@{
    ViewBag.Title = "Wishlist";
}

<h2>Your wishlist</h2>
@if (Model != null)
{
    <span>@Html.ActionLink("Manage Wishlist", "Manage", "Wishlist", new { area = "stamps" }, null)</span>
}

<div id="wishlist">
    <div class="row">
        <div class="col-md-6">
            &nbsp;
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                <h4>
                    Next auction
                </h4>
            }
        </div>    
    </div>
    @if(Model == null)
    {
        <div class="row">
            <h3>@Html.ActionLink("Create your own wishlist", "Manage", "Wishlist", new { area = "stamps" }, null)</h3>
        </div>
    }
    else
    {
        foreach (var item in Model.Items)
        {
            <div class="row">
                <div class="col-md-6">
                    <a href="/stamps/wishlist/item/@item.Id">
                        @item.Area,
                        
                        @if(item.Year > 0)
                        {
                            @item.Year
                        }

                        @item.Description, @item.Conditions (@item.CatalogueNumber)
                    </a>
                </div>
                <div class="col-md-6">
                    <span class="pointer" data-toggle="tooltip" title="@item.NextAuctionHouse">
                        @if (item.NextAuction > DateTime.MinValue)
                        {
                            @item.NextAuction.Date.ToShortDateString()
                        }
                        else
                        {
                            <em>no  auctions coming</em>  
                        }
                    </span>
                </div>
            </div>
        }
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

}